<main class="about">
  <h1 class="about__headline">What is this website?</h1>
  <p class="about__info">This website is a color pallete app made using ExpressJS and MongoDB and was created to learn these technologies. The application was inspired by <a class="link" href="https://www.youtube.com/user/mackenziechild">Mackenzie Child's</a> YouTube Channel and the Logo was inspired by <a class="link" href="https://dribbble.com/shots/2944365-Discover-some-great-icons">Justas Galaburda</a></p>
</main>
